:root {
--main-color: #033a80;
--bg-color: #fff;
--text-color: #0f0c27;
--hover: hsl(260, 100%, 51%);
--big-font: 3.2rem;
--medium-font: 1.8rem;
--p-font: 0.941rem;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

body{
  background-color: var(--bg-color);
  font-family: Verdana;
}

/*---------------------------------*/
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: var(--bg-color);
  position: fixed;
  width: 100%;
  box-shadow: -3px -3px 7px #ffffff73,
    2px 2px 5px rgba(94, 104, 121, 0.288);
}
/*--------------------------------------*/
nav h1{
  margin-left: 50px;
  margin-right: 20px;
}
nav ul{
  display: flex;
  text-align: center;
  margin-right: 100px;
  font-size: 15px;
}
/*---------------------------------*/
nav h1 span{
  color: crimson;
}

nav ul li{
  margin-right: 30px;
}
nav ul .no-margin-right{
  margin-right: 0px;
}
nav .moon{
  width: 50px;
  text-align: center;
  margin-right: 0;
  margin-left: 0px;
}

/*------------------------------------------------------------------*/
header{
  height: 100vh;

}
/*-----------------------*/
header .centre{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 5% 45% 30%;
  align-items: center;
  gap: 1rem;
  padding-left: 70px;
  padding-right: 0px;
}
/*-----------------------*/
header .centre .puces,
header .centre .carte{
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
/*----------------------*/
header .centre .puces{
  font-size: 40px;
}
header .centre .carte{

}
header .centre .image{
  
}
header .centre img{
  height: 100vh;
  object-fit: fill;/*pour faire remplir l'image dans sa taille*/
}
/*----------------0*/
header .centre .carte p{
  padding: 10px;
}
header .centre .carte .introduction{
  font-size: 20px;
}
header .centre .carte .nom{
  font-size: 60px;
  font-weight: bold;
}
header .centre .carte button{
  height: 50px;
  width: 150px;
  color: white;
  background-color: #033a80;
  outline: none;
  border: none;
}

/********************************************************************************************************/

.about{
  padding: 100px 10%;
}

.heading{
  text-align: center;
}
.heading .titre1{
  font-weight: bold;
  font-size: 2rem;
}
.heading .titre2{
  color: green;
  font-size: 2rem;
}

.about-container{
  display: flex;
  padding: 50px 50px;
}

.about-img{

}

.about-text{
  padding-left: 80px;
  font-size: 20px;
}

.about-text + p{

}

.information{
  padding-top: 20px;
  padding-bottom: 30px;
}
.info-box{

}
.info-box span{
  padding-left: 
}

.btn{
  padding: 20px 20px;
  background-color: #033a80;
  color: white;
  font-size: 12px;
}
